html{
	background-color: #FFF;
	margin-top: 1%;
	margin-left: 1%;
}
body{
	width: 1440px;
	height: 1000px;
	margin: 0 auto;
	font-family: "Helvettica", Arial, sans-serif;
	font-size: 16px;
	border-radius: 10px;
	background-color: #EEEEEE;
}
a{
	text-decoration: none;
	margin:0;
	padding: 0;
}
h1{
	color: black;
}
h2, h3{
	font-style: italic;
	color: white;
}
li{
	list-style: none;
}
#title{
	width: 100%;
	float: left;
}
#main-menu{
	width: 100%;
	float: left;
	display: inline-block;
	background-color: #5A7596;
	border-radius: 10px;
}
.menu-choices{ 
	display: inline-block; /*change to block for mobile*/
	font-size: 2.6em;
	margin: 1%;	
	padding: 1%;
	border-radius: 10px;
}
.menu-choices a{
	color: #FFF;
	background-color: #5A7596;
	border-radius: 10px;
}
.menu-choices a:hover, a:active{
	background-color: #FFF;
	color: #5A7596;
}
#content{
	width: 100%;
	float: left;
	display: block;
}
#content article{
	color: black;
	font-variant: bold;
	text-decoration: none;
}
#update{
	display: block;
	margin: 0 auto;
	width: 96%;
	height: 28px;
	background-color: #FFF;
	font-size: 1.25em;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#update a{
	color: #5A7596;
}
#leftcolumn{
	display: block;
	float: left;
	width: 32%;
	margin: 2%;
	padding: 2%;
}
#contactform{
	width: 100%;
	margin: 2%;
	padding: 2%;
	border: 0;
	outline: none;
	background-color: #5A7596;
	color: #EEEEEE;
	float: left;
	display: block;
	border-radius: 10px;
	border: 8px double #EEEEEE;
}
#contactbar{
	width: 100%;
	display: block;
	float: left;
	margin: 2%;
	padding: 2%;
}
#contactbar li{
	display: inline-block;
}
#contactbar li a.contacts{
	float: left;
	display: block;
	margin: 2% 0;
 	border-radius: 10px;
 	background-image: url(metalicons.jpg);
 	height: 60px;
 	width: 60px;
 	text-indent: 80px;
}
#contactbar li a#contact1{
 	background-position: 408px 420px;
}
#contactbar li a#contact2{
 	background-position: 408px 272px;
}
#contactbar li a#contact3{
 	background-position: 314px 272px;
}
#contactbar li a#contact4{
	background-position: 220px 197px;
}
#rightcolumn{
	float: right;
	width: 52%;
	margin: 2%;
	padding: 2%;
}
#AboutUs{
	float: left;
	margin: 2%;
	padding: 2%;
	border: 8px double #5A7596;
	background-color: #FFF;
	border-radius: 10px;
}
#footer{
	width: 100%;
	float: left;
	margin: 2% 0;
	padding: 1% 0;
	list-style: none;
	background-color: #5A7596;
	border-radius: 10px;
}
#footer h4{
	color: white;
	text-decoration: none;
	text-align: right;
	padding-right: 2%;
}

#name{
	height: 24px;
	width: 400px;
	margin: 2%;
	border-radius: 10px;
	text-indent: 1%;
}
#email{
	height: 24px;
	width: 400px;
	margin: 2%;
	border-radius: 10px;
	text-indent: 1%;
}
#message{
	width: 400px;
	height: 200px;
	margin: 2%;
	border-radius: 10px;
	text-indent: 1%;
}
#submit{
	padding: 2%;
	margin: 2%;
}
h2{
	color: #FFF;
	text-align: left;
	padding: 0 2%;
}
input[type=submit] {
	width: 185px; height: 52px;
	float: left;
	padding: 2%;
	margin: 2%;
	border: ;
	cursor: pointer;
	color: #5A7596;
	background-color: #FFF;
	border-radius: 10px;
	border: 8px double #5A7596;
}