.box {
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
}



.box p {
	font-size: 20px;
}

.box1{background-color: #3366FF}
.box2 {background-color: #FF33CC}
.box3 {background-color: #33FFCC}
.box4 {background-color: #FF6633}
.box5 {background-color: #33CCFF}
.box6 {background-color: #FF3366}
.box7 {background-color: #33FF66}
.box8 {background-color: #FFCC33}
.box9 {background-color: #B88A00}
.box10 {background-color: #CC33FF}



.wrapper {
	display: flex;
}

.box {
	flex: 1;
}
.box3 {
	flex: 2;
}