*{
  margin: 0;
  padding: 0;
  /*text-shadow: 4px 4px 0 rgba(0,0,0,0.1);*/
}
body {
	background: #EEEEEE;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}
a {
	text-decoration: none;
	color: black;
}
ul {
	list-style: none;
}
article {
	padding: 2%;
	color: black;
	font-size: 14px;
	background: url(/img/ideas/paper.jpg);
	white-space: wrap;
}
p {

}
em {
	text-transform: uppercase;
}
.subtitle {
  text-align: center; 
}
.overide {
	color: white;
}
.navigation {
	background: #FFFFFF;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	height: 80px;
	position: fixed;
	width: 100%;
}
.navbox {
  color: #808080;
  font-size: 20px;   
}
.navbox:hover{
  color: #807bea;
}
#container_one {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;


}
#box_one {
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: url(/img/ideas/bloom-2608_1280.jpg);
	height: 799px;
	align-items: center;
	justify-content: space-around;
}
#phntype {
  	height: 60px;
  	overflow: hidden;
}
.phonetypes {
	color: white;
	font-size: 50px;
	text-align: center;
	position: relative;
	-webkit-animation: mymove 10s infinite;
	/*animation: mymove 10s infinite;*/
  
}
@-webkit-keyframes mymove {
	0%    {top: 0px;}
    10%   {top: 0px}
	25%   {top: -60px;}
	50%   {top: -120px;}
	75%   {top: -180px;}
	90%   {top: -240px;}
	100%   {top: -240px;}
	
}
/*keyframes mymove {
	0%    {top: -300px;}
	20%   {top: -240px;}
	40%   {top: -180px;}
	60%   {top: -120px;}
	80%   {top: -60px;}
	100%  {top: 0px;}
}*/
#button_one{
	border: 1px solid white; 
	background-color: #807bea;
	
}
#button_one:hover{
	background-color: white;
	border: 1px solid #807bea; 

}
#boxone_link{
  	color: white;
  	font-size: 36px;
  	margin: 12px;
}
#boxone_link:hover{
  	color: #807bea;
}
#headline {
	color: white;
	padding: 12px;
  	font-size: 24px;
  	background-color: #807bea;
 
}
#box_two {
	background-color: #FFFFFF;
	background-repeat: repeat;
	height: 240px;
}
#box_three {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-image: url(/img/ideas/meadow-196567_1280.jpg);
	background-repeat: repeat;
	/*height: 520px;*/
}
#kats {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
 }
.cats {
	border: 2px solid #FFFFFF;
	border-radius: 52px;  
}
.cats img{
	height: 52px;
	width: 52px;
}
#box_four {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}
.list-row {
  	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
#sortme{
	height: 24px;
	font-size: 24px;
	text-align: justify;
}
.sortinglinks{
	background-color: #bdbdbd;
  color: #807bea;
  padding: 4px; 
  margin: 2px;
  border: 1px solid #807bea;
  height: 24px;
  width: 100px;
}
#photobar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 0;
}
#horse_one {
	background-image: url(/img/horsepics/horse1.jpg);
	background-size: 100%;
}
#horse_two {
	background-image: url(/img/horsepics/horse2.jpg);
	background-size: 100%;
}
#horse_three {
	background-image: url(/img/horsepics/horse3.jpg);
	background-size: 100%;
}
#horse_four {
	background-image: url(/img/horsepics/horse4.jpg);
	background-size: 100%;
}
.horsepics {
	min-height: 240px;
	min-width: 360px;
	max-width: 680px;
	flex-shrink: 2;
	flex-grow: 4;
}
#box_six {
  	background-image: url(/img/ideas/dark_background.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#testimonials {
  	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}
.essays {
  margin: 1%;
  padding: 1%;
  background: 
  background-repeat: no-repeat;
  text-align: justify;
}
#container4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #FFFFFF;
	justify-content: space-around;
	align-items: center;
}
.contact {
	border-radius: 10px;
	background-image: url(metalicons.jpg);
	height: 60px;
	width: 60px;
}
.contact{

}
.contact:hover{
	opacity: 0.5;
}
#box9 {
	background-position: 314px 272px;
}
#box10 {
	background-position: 408px 272px;
}
#box11 {
	background-position: 220px 197px;
}
#box12 {
	background-position: 408px 420px;
}
#searchbox{
	height: 40px;
	border: none;
}

