*{
  margin: 0;
  padding: 0;
}
body {
	background: #EEEEEE;
	width: 1200px;
	height: 3840px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
article {
	padding: 1%;
	color: black;
	font-size: 14px;
	background-color: #FFF;
	white-space: wrap;
}
p {

}
em {
  text-transform: uppercase;
}
.navigation {
	background: #EEEEEE;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	height: 80px;
}
#logo {
  
}
.navigation li {
   
}
.navbox {
	color: #5A7596;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
}
#container_one {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#box_one {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: url(/img/bettercominedcellphone.png);
	width: 1200px;
	height: 900px;
	font-size: 24px;
	align-items: center;
	justify-content: center;
}
#phntype {
  height: 60px;
  overflow: hidden;

}
.phonetypes {
  list-style: none;
  position: relative;
  -webkit-animation: mymove 10s infinite;
  /*animation: mymove 10s infinite;*/
  font-size: 50px;
}
@-webkit-keyframes mymove {
	0%    {top: 0px;}
  10%    {top: 0px}
	25%   {top: -60px;}
	50%   {top: -120px;}
	75%   {top: -180px;}
	100%   {top: -240px;}
	
}
@-webkit-keyframes mymove {
	0%    {top: -300px;}
	20%   {top: -240px;}
	40%   {top: -180px;}
	60%   {top: -120px;}
	80%   {top: -60px;}
	100%  {top: 0px;}
}
/*keyframes mymove {
	0%    {top: -300px;}
	20%   {top: -240px;}
	40%   {top: -180px;}
	60%   {top: -120px;}
	80%   {top: -60px;}
	100%  {top: 0px;}
}*/
#button_one{
	padding: 12px;
	border: 1px solid white; 
}
#boxone_link{
	font-size: 38px;
}
#boxone_link:hover{
  /*make shadow*/
}
#headline {
	padding: 12px;
	font-style: italic;

}
#box2 {
	background-color: #FFF;
	border: double #5A7596 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin: 0;
	height: 520px;
}
.essays {

}

.essaysa {
  background-color: pink;
}
#container2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 730px;

}
.con2 {
}
.img {
  width: 640px;
  height: 480px;
}

ul {
  list-style: none;
}

#container3 {

}
#box6 {
	background-image: url(/img/stitched.png);
	background-repeat: repeat;
	color: #F5F5DC; 
	height: 240px;
}
#box_three {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-image: url(/img/kittens/catbackground.png);
	background-repeat: no-repeat;
}
.sect_title h2{
	text-align: center;  
}
.sect_sep p{
	text-align: center;
}
.sect_sub h6{
	text-align: center;
}
#kats {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
 }
.cats {
	border: 2px solid black;
	border-radius: 52px;  
}
.cats img{
	height: 52px;
	width: 52px;
}








#box8 {
    background-color: #FFCC33;
    height: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
}
#horses{
  align-self: center;
}
.list-row {
  display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-around;
	align-items: center;
}
#photobar {
  background: #EEEEEE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.horsepics {
	width: 285px;
	height: 228px;
}
#container4 {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	background-color: #CCFF33;
	justify-content: flex-end;
}

.contact {
	margin: 2px;
	color: black;
	font-size: 12px;
}
#box9 {background-color: #B88A00}
#box10 {background-color: #CC33FF}
#box11 {background-color: #CCFF33}
#box12 {background-color: #002EB8}