*{
  margin: 1px;
  padding: 0;
  /*text-shadow: 4px 4px 0 rgba(0,0,0,0.1);*/
}
body {
	background: #EEEEEE;
	height: 3840px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
a {
	text-decoration: none;
	color: black;
}
ul {
	list-style: none;
}
article {
	padding: 2%;
	color: black;
	font-size: 14px;
	background: url(/img/ideas/paper.jpg);
	white-space: wrap;
}
p {

}
em {
	text-transform: uppercase;
}
.subtitle {
  text-align: center; 
}
.navigation {
	background: #FFFFFF;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	height: 80px;
}
.navbox {
  color: #808080;
  font-size: 20px;   
}
.navbox:hover{
  color: #8F220A;
}
#container_one {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#box_one {
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: url(/img/ideas/bloom-2608_1280.jpg);
	
	height: 799px;
	align-items: center;
	justify-content: space-around;
}
#phntype {
  	height: 60px;
  	overflow: hidden;
}
.phonetypes {
	font-size: 48px;
	text-align: center;
	position: relative;
	-webkit-animation: mymove 10s infinite;
	/*animation: mymove 10s infinite;*/
  
}
@-webkit-keyframes mymove {
	0%    {top: 0px;}
    10%   {top: 0px}
	25%   {top: -60px;}
	50%   {top: -120px;}
	75%   {top: -180px;}
	100%   {top: -240px;}
	
}
/*keyframes mymove {
	0%    {top: -300px;}
	20%   {top: -240px;}
	40%   {top: -180px;}
	60%   {top: -120px;}
	80%   {top: -60px;}
	100%  {top: 0px;}
}*/
#button_one{
	padding: 12px;
	border: 1px solid white; 
}
#button_one:hover{
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#boxone_link{
  color: white;
  font-size: 24px;
  
	
}
#boxone_link:hover{
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5); /*dont know about this*/
}
#headline {
	padding: 12px;
  font-size: 24px;
  
}
#box_two {
	background-color: #FFFFFF;
	background-repeat: repeat;
	height: 240px;
}
#box_three {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-image: url(/img/ideas/meadow-196567_1280.jpg);
	background-repeat: no-repeat;
	/*height: 520px;*/
}
#kats {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
 }
.cats {
	border: 2px solid black;
	border-radius: 52px;  
}
.cats img{
	height: 52px;
	width: 52px;
}
#box_four {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}
.list-row {
  display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
	align-items: center;
}
.sortinglinks{
  color: red;  
}
#photobar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.horsepics {
	width: 285px;
	height: 228px;
}
#box_six {
  background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#testimonials {
  background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}
.essays {
  margin: 1%;
  padding: 1%;
  background: 
  background-repeat: no-repeat;
  text-align: justify;
}

#container4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #FFFFFF;
	justify-content: space-around;
	align-items: center;
}

.contact {

}
#box9 {
	border-radius: 10px;
	background-image: url(metalicons.jpg);
	background-position: 314px 272px;
	height: 60px;
	width: 60px;
}
#box10 {
	border-radius: 10px;
	background-image: url(metalicons.jpg);
	background-position: 408px 272px;
	height: 60px;
	width: 60px;
}
#box11 {
	border-radius: 10px;
	background-image: url(metalicons.jpg);
	background-position: 220px 197px;
	height: 60px;
	width: 60px;
}
#box12 {
	border-radius: 10px;
	background-image: url(metalicons.jpg);
	background-position: 408px 420px;
	height: 60px;
	width: 60px;
}
#searchbox{
	height: 40px;
	border: none;
}

