*{
	float: none;
}
img{
	max-width: 480px;
}
html{
	background-color: white;
}
body{
	background-color: pink;
}
h1{
	background-color: yellow;
}
#mainmenu{
}
#mainmenu li{
	display: inline;
	padding: 1%;

}
#mainmenu li a{
	text-decoration: none;
	color: red;
	background-color: green;
	padding: 1%;	
}
#mainmenu li a:hover{
	color: green;
	background-color: red;
}
#mainmenu li a.active{
	color: white;
	background-color: black;
}
article{
	color: white;
	background-color: black;
}
h2{
	color: white;
	font-size: 200%;
	background-color: black;
}
footer{
	background-color: yellow;
}
