* { margin: 0; padding: 0; }

#contact { width: 400px; margin: 40px auto; }

#contact li {
 	list-style-type:none;
	font-size:2em;
}

#contact li a {
	background-image:url('../img/image_contact.gif');
	background-repeat:no-repeat;
	padding: 0 0 0 90px;
	display: block;
	height: 72px;
}

#contact li a.contact1 {background-position:0px 0px;}

#contact li a.contact2 {background-position:0px -143px;}

#contact li a.contact3 {background-position:0px -287px;}

#contact li a.contact4 {background-position:0px -431px;}

#contact li a.contact5 {background-position:0px -575px;}
